
.image{
  max-width: 100px;
  max-height: 100px;
}

#viewport {
  height: 100vh;
  width: 100vh;
  /* margin: auto; */
  /* display: block; */
}
.stack {
    background: #ED5D52;
    /* margin-left: auto; */
    /* margin-right: auto; */
    display: inline-block;
    text-align: center;
  }
.card {
    width: 200px;
    height: 300px;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 300px;
    cursor: default;
  }
#viewport li.in-deck:nth-child(3) {
      top: 2px;
      transform: translate(2px, 2px) rotate(0.4deg);
  }
#viewport li.in-deck:nth-child(2) {
      top: 4px;
      transform: translate(-4px, -2px) rotate(-1deg);
}
