
.image{
  max-width: 50%;
  max-height: 50%;
}

.foot{
  position: fixed;
  width:95%;
  bottom:0px;
}
.split{
  display: block;
  float:right;
}
.stack {
  height: 100%;
  width: 80%;
  display:inline-block;
  }
.card {
    width: 50%;
    height: 60%;
    list-style: none;
    background: #fff;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
    line-height: 15em;
    cursor: default;
  }
#viewport li.in-deck:nth-child(3) {
      top: 2px;
      transform: translate(2px, 2px) rotate(0.4deg);
  }
#viewport li.in-deck:nth-child(2) {
      top: 4px;
      transform: translate(-4px, -2px) rotate(-1deg);
}
