.foot{
  position: fixed;
  width: 100%;
  height: 2em;
  bottom:1em;
}
.split{
  display: block;
  float:right;
}
.stack {
  margin: 0 auto;
  position: relative;
  padding-top: 1em;
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.mycard {
    width: calc(100% - 2em);
    height: 80vh;
    text-align: center;
    position: fixed;
    cursor: default;
}
.inner-card{
  height: 100%;
  border-radius: 1.5em;
}
.rad{
  border-radius: 1.5em;
}
