@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import "~font-awesome/css/font-awesome.css";
.content{
  padding-top: 3em;
  padding-bottom: 3em;
  width: 70%;
  margin:0 auto;
}
body{
  margin:0 auto;
  width: 100%;
  min-height: 100vh !important;
  height: 100vh;
}
.content-half{
  width: 35%;
}
